{
    "singleQuote": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.html", "*.tsx"],
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "pluginSearchDirs": false
}
