@import './variables';

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100svh;

    font-size: 1.4rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    width: 30rem;
}

.inputs input {
    font-family: inherit;
    padding: 0.6rem 1.4rem;
    border-radius: 0.5rem;
    border: 1px solid $primary;
    background-color: $white;
}

.inputs input:focus {
    outline: none;
    border-color: $primary;
    background-color: $white;
}

.invalid input {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
}

.inputs button {
    cursor: pointer;
    font-family: inherit;
    color: $primary;
    background: $white;
    padding: 0.6rem 1.4rem;
    border: 1px solid $primary;
    border-radius: 0.5rem;
}
