@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
} */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html,
body {
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;

    background-color: #fafafa;
}

@layer components {
    .form {
        @apply flex items-center justify-center min-h-screen text-sm;
    }

    .form-input {
        @apply border border-primary rounded bg-inherit px-4 py-2 focus:outline-none;
    }

    .small-card {
        @apply rounded-xl border border-[#1E0A24] bg-white drop-shadow-[1px_1px_0px_#1E0A24];
    }

    .card {
        @apply rounded-xl border border-[#1E0A24] bg-white drop-shadow-[6px_6px_0px_#1E0A24];
    }

    .nav-link {
        @apply flex items-center gap-3 px-8 py-2 cursor-pointer bg-white;
    }
    .default-link {
        @apply hover:bg-[#9DBA9C];
    }
    .active-link {
        @apply text-white bg-primary;
    }
}
